@page
@model Ydelsesberegner.Pages.ResultatModel
@{
    ViewData["Title"] = "Resultat";
    var imagePath = "/images/Image" + Model.Image + ".png";
}

    <h2>
    </h2>
    
        
     <br/>
    <p>@Html.Raw(@Model.Text1)</p>


    <br/>
    <p> 
        <img id=@Model.Image src="@imagePath" alt="Graf" Height="300" Style="border: 1px solid black;width:auto"/>
    @*
        <%-- Laver billeder på siden og definerer ID, Height, Style, width, imageURL, AlternateText og Visible attributterne
             Alle billederne er som udgangspunkt blevet skjult. Billedet som passer til det tilsvarende resultat vil blive gjort synlig --%>
        <asp:Image ID="ImageA" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageA.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageB" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageB.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageC" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageC.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageD" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageD.PNG" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageE" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageE.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageF" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageF.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageG" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageG.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageH" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageH.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageI" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageI.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageK" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageK.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageL" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageL.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageM" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageM.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageN" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageN.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="ImageO" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/ImageO.png" AlternateText="Graf" Visible="false"/>
        <%-- ???--%>        
        <asp:Image ID="Image15" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/Image15.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="Image16" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/Image16.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="Image17" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/Image17.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="Image18" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/Image18.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="Image19" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/Image19.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="Image20" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/Image20.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="Image21" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/Image21.png" AlternateText="Graf" Visible="false"/>
        <asp:Image ID="Image22" runat="server" Height="300" Style="border: 1px solid black;width:auto" ImageUrl="/images/Image22.png" AlternateText="Graf" Visible="false"/>
    </p> 
    *@
    <p>@Html.Raw(@Model.Text2)</p>
   

    
