@page
@model Ydelsesberegner.Pages.ResultatModel
@{
    ViewData["Title"] = "Resultat";
    var imagePath = "/images/Image" + Model.Image + ".png";
}

    <h2>
    </h2>
      
    <br/>
    <p>@Html.Raw(@Model.Text1)</p>

    <br/>

    <p> 
        <img id=@Model.Image src="@imagePath" alt="Graf" Height="300" Style="border: 1px solid black;width:auto"/>
    </p>
    
    <p>@Html.Raw(@Model.Text2)</p>
   

    
