@page
@model Ydelsesberegner.Pages.ResultatModel
@{
    ViewData["Title"] = "Resultat";
    var imagePath = "/images/Image" + Model.Image + ".png";
}

      
    <br/>
    @Html.Raw(@Model.Text1)

    <br/>
    @if (Model != null && !String.IsNullOrEmpty(Model.Image))
    {    
        <div class="w-75 p-3">
        <h4>@Model.ChartTitle</h4>
        <img id=@Model.Image class="img-fluid" src="@imagePath" alt="Diagram over ugentlig arbejdstid for forskellige jobs for at opnå ydelsesniveau"/>
        <p><small>@Model.ChartText</small></p>
        </div>
        <br/>
        <br/>

    
        @Html.Raw(@Model.Text2)
    }
   

    
